.small-details{
    display: inline-block; 
    width: 90px;
    margin: 10px;
    height: 120px;
    text-align: center;
    background-color: #437791;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

#detail-container{
    position: relative;
    top: -50px;
    margin-right: 5px;
}