#today{
    height: 250px;
    margin-left: 80px;
    margin-top: 30px;
}

#description{
    position: relative;
    left: 50px;
    top: -55px
}

#temperature-box{
    position: relative;
    top: -180px;

}

#current-temp{
    font-size: 120px;
    font-weight: 100;
}

#weather-icon{
    width: 50px;
}

#side-temps{
    position: relative;
    left: 185px;
    top: -205px
}
