@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400&display=swap');

#app{
  margin: 0 auto;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
