@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400&display=swap');

#app{
  background-image: linear-gradient(to top, #a7bdca 0%, #5493b2);
  margin: 0 auto;
  width: 350px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
